PRIVATE_KEY=
SIGNER_PRIVATE_KEY=
BACKEND_PRIVATE_KEY=
RPC_URL_TESTNET=https://forno.celo-sepolia.celo-testnet.org
RPC_URL_MAINNET=https://forno.celo.org
CELOSCAN_API=
USDC_ADDRESS=0x01C5C0122039549AD1493B8220cABEdD739BC44E
DEV_TREASURY_ADDRESS=
INITIAL_RESERVE_USDC=0
